{% extends 'default.html' %}
{% load custom_filters %}
{% load i18n %}
{% block title %}
New
{% endblock title %}
{% block content %}
<h1>{{ new.header|censor }}</h1>
<ul>
    <li>
        {{new.header|censor}}
    </li>
    <li>
        {{new.text|censor}}
    </li>
    <li>
        {% load cache %}
        <ul>
            {% for category in new.categories.all %}
            <li>
                <p>{{category.name}}{% if not category in user_subscribes %}<button> <a href="categories/{{category.pk}}/subscribe/">подписаться</a> </button>{% endif %}</p>
                <p>{{user_subscribes.all}}</p>
            </li>

            {% endfor %}
        </ul>
    </li>
    <li>
        {% trans "published" %}: {{new.created_at|date:'M d Y'}}; {% trans "updated" %}: {{new.updated_at|date:'M d Y'}}
    </li>
    <a href="{{new.pk}}/update/">{% trans "edit new" %}</a>
    <a href="{{new.pk}}/delete/">{% trans "delete new" %}</a>
    <li>
        {% trans "rating" %}: {{new.rating}}
    </li>
</ul>
{% endblock content %}