{% extends 'default.html' %}
{% block content %}
{% load i18n %}
<h1>{% trans "delete new" %}</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    <p>{% trans "delete new" %}:</p>
    <p>{% trans "name" %}:{{object.header}}</p>
    <p>{% trans "text" %}:{{object.text}}</p>
    <p>{% trans "created at" %}: {{object.created_at}} {% trans "updated at" %}:{{object.updated_at}}</p>
    <ul>
        {% for category in object.categories.all %}
        <li> {% trans "category" %}: {{category.name}}</li>
        {% endfor %}
    </ul>
    <input type="submit" value="Delete"/>
</form>
{% endblock content %}