{% extends 'default.html' %}
{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
News
{% endblock title %}
{% block content %}
   <h1>{% trans "all news" %}</h1>
   <hr>
<a href="create/">{% trans "create new" %}</a>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
   {% if news %}
<ul dir="ltr">
    {% for new in news %}
    <li>
        <hr>
        <ul dir="ltr">
            <li>{{new.header|censor}}</li>
            <li>{{new.preview|censor|truncatechars:20}}</li>
            <li><a href="{{new.id}}">{% trans "read full" %}</a></li>
            <li>{% trans "published" %}: {{new.created_at|date:'M d Y'}}; {% trans "updated" %}: {{new.updated_at|date:'M d Y'}}</li>

            <ul dir="ltr">
                {% for category in new.categories.all %}
                <li><p>{{category.name}}{% if category not in user_subscribes %}<button> <a href="categories/{{category.pk}}/subscribe/">{% trans "subscribe" %}</a> </button>{% endif %}</p></li>
                {% endfor %}
            </ul>
            <li>{% trans "rating" %}: {{new.rating}}</li>
        </ul>
    </li>
    {% endfor %}
</ul>

   {% else %}
       <h2>{% trans "theres no news" %}</h2>
   {% endif %}

{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}