<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Новость:{{ new.header }}</h2>
    <p>{{ new.text|truncatechars:50 }} </p>
    <a href="http://127.0.0.1:8000/news/{{new.pk}}">читать далее</a>
    <ul>
        <li><p>категории:</p></li>
        {% for category in new.categories.all %}
        <li>
            <p>{{category.name}}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>